<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e1c9597c-3e95-42c6-a704-31143b923495/resourcegroups/apim-awepay-test/providers/Microsoft.Web/sites/AwepayTest20220320020503</ResourceId>
    <ResourceGroup>apim-awepay-test</ResourceGroup>
    <ApiResourceId>/subscriptions/e1c9597c-3e95-42c6-a704-31143b923495/resourceGroups/apim-awepay-test/providers/Microsoft.ApiManagement/service/apim-awepay-test-resource/apis/createuser</ApiResourceId>
    <OpenApiDocumentName>CreateUser</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://awepaytest20220320020503.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>983727cf-e7e1-4faf-b498-36b953cbf84d</ProjectGuid>
    <MSDeployServiceURL>awepaytest20220320020503.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AwepayTest20220320020503</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$AwepayTest20220320020503</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>